@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background: #121212;
	min-height: 100vh;
	font-family: sans-serif, 'Helvetica Neue', Helvetica, Arial;
}

.m-icon {
	font-family: 'Material Icons', sans-serif, 'Helvetica Neue', Helvetica, Arial;
}
