@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background: #121212;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: sans-serif, 'Helvetica Neue', Helvetica, Arial;
}

.m-icon {
	font-family: 'Material Icons', sans-serif, 'Helvetica Neue', Helvetica, Arial;
}

.m-icon-round {
	font-family: 'Material Icons Round', sans-serif, 'Helvetica Neue', Helvetica,
		Arial;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.3);
	transition: background 8s;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, 0.5);
}
